@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #4B4B4B;
    line-height: 1.5;
    letter-spacing: 0.15px;
}
[class*="__container"] {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0px 15px;
}
.header {
    position: absolute;
    padding-top: 26px;
    width: 100%;
}
.header__title {
    display: flex;
    justify-content: space-between;
   
}
.header__title:not(:last-child) {
    margin-bottom: 27px;
}
.title-header__logo {
    margin-right: 10px;
    flex: 0 0  auto;
}
.logo {
    display: flex;
    align-items: center;
}
.logo__vector {
    padding-right: 11px ;
    max-height: 41px;
    width: 100%;
}
.logo__name {
    font-size: 24px;
    font-weight: 900;
}
.title-header__utility {
    display: flex;
    flex-wrap: wrap;
}
.utility {
    justify-content: space-between;
    flex: 0 1 610px;
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    color: #FFFFFF;
}
.utility__hours {
    background: url(../img/header/icon_time_24px.svg) 0 5px / 24px no-repeat;
    padding-left: 34px;
    padding-right: 5px;
}
.utility__phone {
    background: url(../img/header/icon_phone_24px.svg) 0 5px / 24px no-repeat;
    padding-left: 34px;
    padding-right: 5px;
}
.utility__button {
    flex: 0 1 211px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    font-size: 12px;
    line-height: 2;
    color: #FFFFFF;
    background: #F2726F;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 9px 30px;
    box-shadow: 0px 16px 24px 0px rgba(38, 38, 38, 0.2), 0px 8px 16px 0px rgba(38, 38, 38, 0.24);
    transition: all 0.3s ease 0s;
}
.utility__button:hover {
	transform: translate(0px, 3px);
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
}
.nav {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    padding-left: 40px;
    align-items: center;
}
.nav__services {
    margin-right: 37px;
}
.nav__services::after {
    content: "";
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url(../img/header/icon_expand_more_24px.svg) 0px 5px no-repeat;
}
.nav__specials {
    margin-right: 37px;
}
.nav__facilities {
    margin-right: 37px;
}
.nav__reviews {
    margin-right: 37px;
}
.nav__shop {
    margin-right: 39px;
}
.nav__shop::after {
    content: "";
    position: absolute;
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url(../img/header/icon_expand_more_24px.svg) 0px 5px no-repeat;
}
.nav__About {
    flex: 1 1 auto;
    padding-right: 10px;;
}
.nav__search {
    
    margin-right: 22px;
}
.nav__basket {
    margin-right: 48px;
    position: relative;
}
.nav__namber-of-products {
    position: absolute;
    top: -7px;
    left: 15px;
    background: #F2726F;
    font-size: 8px;
    font-weight: 500;
    line-height: 2.2;
    color: #FFFFFF;
    border-radius: 50%;
    text-align: center;
    padding: 0 4px;
    width: 16px;
    height: 16px;
}
.premier {
    /*не пойму как сделать этот блок, получается либо он уходит под хедер при уменьшении, либо под блок "who-we-are". Хорошо уменьшается в блоке header, но вы много раз писали что это main*/
    max-width: 1050px;
    margin: 0 auto;
}

.premier__container {
    position: absolute;
    top: 155px;
}
.premier__text {
    padding-top: 126px;
    font-weight: 900;
    font-size: 56px;
    line-height: 1;
    color: #FFFFFF;
    max-width: 583px;
    z-index: 3;
    margin-bottom: 48px;
}
.premier__button {
    display: inline-block;
    max-width: 210px;
    box-shadow: 0px 16px 24px 0px rgba(38, 38, 38, 0.2), 0px 8px 16px 0px rgba(38, 38, 38, 0.24);
    font-weight: 700;
    align-self: center;
    text-align: center;
    font-size: 12px;
    line-height: 2;
    color: #FFFFFF;
    background: #F2726F;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 9px 30px;
    z-index: 3;
    transition: all 0.3s ease 0s;
}
.premier__button:hover {
	transform: translate(0px, 3px);
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
}
.upper__picture img {
    width: 100%;
    max-height: 800px;
}
.who-we-are__container {
    margin-bottom: 230px;
    top: -80px;
}
.who-we-are__content {
    background: rgba(93, 98, 181, 1);
    border-radius: 40px;
    padding: 100px 87px 0px 87px;
    position: relative;
    margin-top: -80px;
    z-index: 2;
}
.who-we-are__content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -108px;
    left: 895px;
    display: block;
    background: url("../img/who_we_are/Stylize_Circles.svg") no-repeat;
} 
.content__header {
    margin-bottom: 36px;
    max-width: 583px;
}
.content__text {
    margin-bottom: 54px;
    color: #F5F5F5;;
}
.who-we-are__image {
    border-radius: 40px;
    box-shadow: 0px 16px 24px 0px rgba(38, 38, 38, 0.2), 0px 8px 16px 0px rgba(38, 38, 38, 0.24);
    max-width: 100%;
    max-height: 420px;
    margin-bottom: -120px;
}
.who-we-are__content::after {
    content: "";
    background: url("../img/who_we_are/Blob_2.svg") no-repeat;
    display: inline-block;
    width: 665px;
    height: 591px;
    position: absolute;
    left: -15px;
    bottom: -145px;
    z-index: -1;
}
.our-promise {
    padding-bottom: 222px;
}
.our-promise__header {
    margin-bottom: 68px;
}
.titles__sub-title {
    background: url(../img/promise/Overline\ Mark.svg) 0 -2px no-repeat;
    padding-left: 33px;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #5D62B5;
    margin-bottom: 33px;
}
.titles__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.16;
    color: #000000;
}
.our-promise__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0px -12px;
}
.our-promise__item {
    padding: 0px 12px;
    flex: 1 1 33.333%;
    min-width: 260px;
}
.item-promise-our {
    display: flex;
    align-items: flex-start;
    column-gap: 23px;
}
.item-promise-our__icon {
    flex: 0 0 63px;
    max-width: 63px;
    max-height: 63px;
}
.item-promise-our__title {
    font-size: 19px;
    font-weight: 900;
    line-height: 1.36;
    color: #F2726F;
    margin-bottom: 20px;
}
.nemo {
    background-color: #29C3BE;
}
.nemo__container {
    max-width: 1440px;
}
.nemo__contents {
    background-image: url("../img/nemo/Blob-2.svg"), url("../img/nemo/Stylize_Circles_2.svg"), url("../img/nemo/Line_1.svg");
    background-repeat: no-repeat;
    background-position: 0px 0px, 0px 122px, 810px 0px;
    background-size: auto, auto, auto;
    margin-bottom: 110px;
}
.nemo__contents::before {
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background: url(../img/nemo/tennis_ball.png) 0 0 / 100px no-repeat;
   transform: translate(1340px, 130px);
    z-index: 10;
}
.contents {
    display: flex;
}
.contents__pup {
    flex: 0 1 50%;
    padding-top: 44px;
 }
 .contents__image {
    max-width: 100%;
 }
 .contents__blok {
    flex: 0 1 50%;
    max-width: 500px;
    padding-left: 72px;
 }
.blok {
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-top: 112px;
}
.blok__text {
    font-size: 36px;
    font-weight: 900;
    color: #ffffff;
    line-height: 1.16;
}
.blok__button {
    font-size: 12px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.15px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 210px;
    padding: 9px 0px;
    background-color: #F2726F;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease 0s;
}
.blok__button:hover {
	transform: translate(0px, 3px);
	box-shadow: 0 2px 0px rgba(0, 0, 0, 0.3);
}
.nemo__ball {
    position: relative;
    left: 1262px;
    bottom: 210px;
}
.impact {
    background: #29C3BE;
}
.impact__container {
    position: relative;
    padding-bottom: 212px;
}
.impact__container::before {
    content: "";
    position: absolute;
    width: 68%;
    height: 100%;
    background: url(../img/impact/Blob\ 2.png) 0 0 no-repeat;
    transform: translate(-12%, 0px);
    left: 50%;
    top: 0px;
}
.impact__content {
    display: flex;
    justify-content: space-between;
    margin: 0px -15px 79px -15px;
}
.impact__header {
    align-self: flex-end;
    max-width: 450px;
    padding: 0px 15px;
    padding-top: 10px;
    flex: 0 0 50%;
}
.titles__sub-title_white {
    color: #FFFFFF;
    background: url(../img/impact/Overline\ Mark.svg) 0 -2px no-repeat;
}
.titles__title_white {
    color: #FFFFFF;
}
.impact__image {
    margin: -7.61% 0px 0px 0px;
    flex: 0 0 50%;
    padding: 0px 15px;
    position: relative;
}
.impact__dog-img {
    border-radius: 40px;
    max-width: 100%;
}
.impact__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0px -12px;
}
.impact__item {
    padding: 0px 12px;
    flex: 0 1 25%;
}
.item-impact {
    display: flex;
    justify-content: flex-start;
    column-gap: 12px;
}
.item-impact__icon {
    flex: 0 0 76px;
    max-width: 76px;
    max-height: 76px;
}
.item-impact__body {
    align-self: center;
}
.item-impact__value {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.16;
    color: #FFFFFF;
    margin-bottom: 3px;
}
.item-impact__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #5D62B5;
    letter-spacing: 0.15px;
}
.footer-impact {
    display: flex;
    padding: 43px 76px 46px 70px;
    justify-content: space-between;
    max-width: 1020px;
    background: #5D62B5;
    border-radius: 20px;
    margin: -72px  auto 100px;
}
.footer-impact__text {
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    line-height: 1.25;
    flex: 0 1 562px;
    padding-right: 10px;
}
.footer-impact__button {
    font-weight: 700;
    align-self: center;
    text-align: center;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    background: #F2726F;
    border-radius: 8px;
    text-transform: uppercase;
    max-width: 210px;
    padding: 9px 25px;
}
footer {
    text-align: center;
}

